body {
    background-image: linear-gradient(aqua, blue, aqua, blue);
    font-size: 3em;
}

div {
    margin-top: 50px;
    margin-left: 10em;
}

input {
    display: block;
    margin-bottom: 50px;
    row: 3;
}

h1 {
    color: orange;
    font-size: 2em;
}

button {
    padding-left: 25px;
    padding-right: 25px;
    background-color: magenta;
    border-radius: 30px;
}

button:hover {
    background-color: pink;
    color:white;
}

h3 {
    font-size: 0.5em;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 400px) {
    
    body {
        font-size: 1.5em;
        background-image: linear-gradient(purple, magenta, purple);
    }
    div {
        margin-left: 1em;
    }
    button {
        background-color: brown;
    }
}
